$door-size: 2.4rem;
$ctrl-width: 30rem;
$transition-time: .05s;

#dock {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;

  .ctrl {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80vw;
    width: $ctrl-width;
    height: 100%;
    background: var(--bg-ha1);
    box-sizing: border-box;
    padding: 1rem;
    padding-top: calc(1rem +#{$door-size});

    display: grid;
    grid-template-columns: minmax(10rem, auto) 1fr;
    align-content: start;
    grid-gap: 1rem;
    transition: all $transition-time;

    label {
      text-transform: capitalize;
      span.value {
        font-style: italic;
        opacity: .7;
        float: right;
      }
    }

    &.closed {
      background: var(--bg-ha2);
      width: $door-size;

      * { display: none; }
    }
  }

  .door {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    max-width: 80vw;
    width: $door-size;
    height: $door-size;
    background: var(--bg-h);
    transition: all $transition-time;

    &.open { width: $ctrl-width; }
  }
}
