$door-size: 2.4rem;
$ctrl-width: 30rem;
$transition-time: .05s;

#dock {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 80vw;
  width: $ctrl-width;
  height: 100%;
  background: var(--bg-ha1);
  box-sizing: border-box;
  transition: all $transition-time;

  .settings {
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: minmax(10rem, auto) 1fr;
    align-items: center;
    grid-gap: 1rem;

    label {
      text-transform: capitalize;
      span.value {
        font-style: italic;
        opacity: .7;
        float: right;
      }
    }
  }

  .source {
    width: 100%;
    text-align: center;
    margin: 4rem 0;

    a {
      opacity: .5;
      &:hover { opacity: 1; }

      img { height: 3rem; }
    }
  }

  &.closed {
    background: var(--bg-ha2);
    width: $door-size;

    .source, .settings { display: none; }
  }

  .door {
    font-size: 2rem;
    max-width: 80vw;
    width: 100%;
    height: $door-size;
    background: var(--bg-h);
  }
}
